name: CI

on: [push, pull_request]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 
      uses: actions/setup-node@v1  

    - name: Installing Dredd
      run: sudo npm install dredd --global --unsafe-perm=true --allow-root

    - name: Installing node-fetch module
      run: npm install node-fetch@2

    - name: Installing hooks module  
      run: npm install hooks

    - name: Installing https module   
      run: npm install https

    - name: Installing file module 
      run: npm install fs

    - name: Build the stack
      run: docker-compose up -d         
      shell: bash
      working-directory: ./test  

    # - name: Setting up OpenSearch domain 
    #   run: python ./.github/workflows/test_url.py      

    - name: Waiting for Opensearch domain to be up.
      run: |
        counter=1
        until [ $counter -gt 10 ]
        do
          (( counter = $counter+1 ))
          echo -n "><><><><><><><><>><"
          echo $counter
          echo -n "><><><><><><><><>><"
        done
        # counter=1
        # until [ $counter -gt 10 ]
        # do
        #   result=$(curl -s -o /dev/null --head -w "%{http_code}" 'https://admin:admin@localhost:9200' -H 'Content-Type:application/json' --insecure -v)
        #   sleep 2s
        #   if [ $result -eq 200 ]; then
        #     echo -n "Waiting for addtional 30 seconds.. for Opensearch Domain to be up."
        #     sleep 30s 
        #     break 
        #   else   
        #     sleep 30s
        #     echo -n "IN ELSE STATEMENT: "
        #   fi 
        #   echo -n "counter: $counter"
        #   (( counter = $counter+1 ))
        #   echo "><><><><><><><><>><"
        #   echo $counter
        #   echo "><><><><><><><><>><"
        # done
        # if [ $counter -eq 11 ]; then
        #   echo -n "Issue with running opensearch domain."
        #   exit 1
        # fi  
      shell: bash
      working-directory: ./test       
   
    - name: Run script file
      run: |
          export NODE_TLS_REJECT_UNAUTHORIZED=0
          python driver-code.py 
      shell: bash
      working-directory: ./test
     