name: CI

on: [push, pull_request]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 
      uses: actions/setup-node@v1  
    
    - run: sudo npm install dredd --global --unsafe-perm=true --allow-root
    # - run: npm install dredd --global --unsafe-perm=true --allow-root
    - run: npm install node-fetch@2
    - run: npm install hooks
    - run: npm install https
    - run: npm install fs

    - name: Build the stack
      run: |   
        docker-compose up -d
      shell: bash
      working-directory: ./test  

    - name: without sleep checking OpenSearch domain is up and running
      run: |
        echo Result=$(curl 'https://admin:admin@localhost:9200' -H 'Content-Type:application/json' --insecure -v) >> $GITHUB_ENV
        echo "><><><><><<><><><><><><"
        echo ${{ env.Result }}  

    - name: running python file
      run: |
        python .github/workflows/test.py
      shell: bash
      working-directory: ./test   

    # - name: test results
    #   if: ${{ env.Result }}
    #   run: | 
    #     echo "shouldn't run"
  

    # - name: checking docker command
    #   run: sleep 200s  

    # - name: checking OpenSearch domain is up and running
    #   run: |
    #     echo Resultt=$(curl 'https://admin:admin@localhost:9200' -H 'Content-Type:application/json' --insecure -v) >> $GITHUB_ENV
    #     echo "><><><><><<><><><><><><"
    #     echo ${{ env.Resultt }}

    # - name: test results  2
    #   if: ${{ env.Resultt }}
    #   run: | 
    #     echo "yeahhh"  
    
    - name: Run script file
      run: |
          docker ps -a  
          curl 'https://admin:admin@localhost:9200' -H 'Content-Type: application/json' --insecure -v 
          export NODE_TLS_REJECT_UNAUTHORIZED=0
          dredd --version
          python driver-code.py          
      shell: bash
      working-directory: ./test





# name: CI

# on: [push, pull_request]

# jobs:
#   run_tests:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2

#     - name: Use Node.js 
#       uses: actions/setup-node@v1  
    
#     - run: sudo npm install dredd --global --unsafe-perm=true --allow-root
#     # - run: npm install dredd --global --unsafe-perm=true --allow-root
#     - run: npm install node-fetch@2
#     - run: npm install hooks
#     - run: npm install https
#     - run: npm install fs

#     - name: Build the stack
#       run: |   
#         docker-compose up -d

#       shell: bash
#       working-directory: ./test  

#     - name: checking docker command
#       run: docker ps -a  
    
#     - name: Run script file
#       run: |
#           docker ps -a  
#           sleep 300s
#           curl 'https://admin:admin@localhost:9200' -H 'Content-Type: application/json' --insecure -v 
#           export NODE_TLS_REJECT_UNAUTHORIZED=0
#           dredd --version
#           python driver-code.py          
#       shell: bash
#       working-directory: ./test

    # - name: Stop containers
    # if: always()
    # run: docker-compose -f "docker-compose.yml" down

        #  chmod +x ./test/driver-code.py
        #  ./test/driver-code.py

        # docker-compose up -d






# name: CI

# on: [push, pull_request]

# jobs:
#   run_tests:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2

#     - name: Using Docker
#       uses: docker-practice/actions-setup-docker@master
#       run: |
#           set -x 
#           docker version
#           docker run --rm hello-world         

#     - name: Use Node.js 
#       uses: actions/setup-node@v1  
    
#     - run: sudo npm install dredd --global --unsafe-perm=true --allow-root
#     - run: npm install node-fetch@2
#     - run: npm install hooks
#     - run: npm install https
#     - run: npm install fs
#     - name: Run script file

#       run: |
#           dredd --version
#           python driver-code.py          
#       shell: bash
#       working-directory: ./test

#         #  chmod +x ./test/driver-code.py
#         #  ./test/driver-code.py        